@using Creators.Models;
@using Creators.Services;
@inject IMediaFileManager mediaFiles;
@model Publication;
<class="block">
<a href="@Url.Action("Show", "Publication", new { id = Model.Id })"  class="w-64 h-72 flex flex-col bg-blue-600 bg-opacity-65 rounded p-1">
    <div class="flex-grow relative overflow-hidden">
        <img src="@mediaFiles.GetMediaStaticUrl(Model.MediaContent)" 
             class="absolute inset-0 w-full h-full object-cover" />
    </div>
    <div class="w-full h-6 flex flex-row bg-emerald-500">
        <div class="flex-grow text-center">Fav: @Model.FavCount</div>
        <div class="flex-grow text-center">Scores: @Model.Score</div>
    </div>
</a>
