@model Comment
@using Creators.Services;
@using Microsoft.IdentityModel.Tokens;
@inject IMediaFileManager mediaFiles;
<div class="container flex flex-row rounded bg-blue-300 bg-opacity-65 blur max-w-full">
    <img src="@mediaFiles.GetMediaStaticUrl(Model.Author.Pfp ?? Creators.Defaults.DefaultPFP)" 
    class="w-20 max-h20 border-r-2 border-blue-900 border-spacing-3"/>
    <div class="divide-y-2">
        <div>@Model.Content</div>
        @if(!Model.Children.IsNullOrEmpty()){
            <div>
                @foreach(var comment in Model.Children){
                    <partial name="_PartialComment" model="comment"/>
                }
            </div>
        }
    </div>
</div>    
