@model PublicationDTO
@using Creators.Data;
@inject CreatorsDbContext db;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<CreatorUser> UserManager;
<form asp-action="Add" method="post" class="flex flex-col " enctype="multipart/form-data" id="publicationForm">
    <label asp-for="Title"></label>
    <input asp-for="Title"/>
    <label asp-for="TextContent"></label>
    <input asp-for="TextContent"/>
    <label asp-for="Description"></label>
    <input asp-for="Description"/>
    <label asp-for="Media"></label>
    <input type="file" asp-for="Media"/> @*TODO: Preloading*@
    <label asp-for="Category"></label>
    <select asp-for="Category" asp-items="Html.GetEnumSelectList<CategoryEnum>()" ></select>    
    <label asp-for="Tags"></label>
    <partial name="_TagsSelector" model='"Tags"'/>
    <label asp-for="IsNSFW"></label>
    <input asp-for="IsNSFW"/>
    <label>Is only you can use this media in posts and PFP?</label>
    <input id="IsExclusiveToAuthor" name="IsExclusiveToAuthor" type="checkbox"/>
    <input id="MediaAuthor" type="hidden" value="@UserManager.GetUserName(User)"/> @*TODO: Users that uploads text publications should have possibility to upload third party art for a cover or select among existing (in first case thay should enter author name themselves )*@
    <button id="submitButton" type="submit" class="btn btn-primary">Create publication</button> 
</form>

@section Scripts{
    @Html.IncludeViewScript()
}