@model Publication;
@using Creators.Services;
@inject IMediaFileManager mediaFiles;

<img src="@mediaFiles.GetMediaStaticUrl(Model.MediaContent)" class="object-center max-h-screen max-w-full object-scale-down" />

@if(!string.IsNullOrWhiteSpace(Model.Description)){
    <p class="rounded bg-opacity-60 bg-blue-400" >@Model.Description</p>
}

<form asp-action="PostComment" method="post">
    <input type="hidden" name="PublicationId" value="@Model.Id" />
    
    <input type="hidden" name="ParentCommentId" value="" />

    <div class="form-group">
        <label for="Content">Comment</label>
        <textarea id="Content" name="Content" class="form-control" rows="3" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Post Comment</button>
</form>

@foreach(var comment in Model.Comments){
    <partial name="_PartialComment" model="comment"/> //TODO:Rewrite to RenderPartialAsync?
}